<nav class="navbar">
  <div class="navbar-left">
    <img src="/stylesheets/images/logo.png" alt="Aurevia Logo" class="logo" />
  </div>

  <div class="navbar-right">
    <% if(user) { %>
      <a href="/listings">Collection</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </div>
</nav>
