<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <dive class="contact-container">
  <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
    <div class="conatct-left title"></div>
    <h2>Get in touch</h2>
    <hr>
  </dive>
    <input type="hidden" name="access_key" value="d9f00388-35ce-4e86-beae-2ac9567f0eb0">
 <input type="text" name="name" placeholder="Your Name" class="contact-inputs">
  <input type="text" name="phone" placeholder="Your Phone Number" class="contact-inputs">
  <input type="email" name="email" placeholder="Your Email" class="contact-inputs">
  <textarea name="message" placeholder="Your message" class="contact-inputs"></textarea>
  <button type="submit">Submit</button>
  </form>
  <div class="contact-right">
    <img src="" alt="">
  </div>

</body>
</html>